.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.1); 
}

.carousel-indicators {
    background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
}


.carousel-inner img {
    height: max-content; 
    max-height: 100%; 
    width: auto;
    margin: 0 auto;
}


.jumbotron {
    background-image: url(../img/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }


.skill-img {
    max-height: 200px; /* hoogte skills logo's */
}

.bg-dark a {
    color: #494f56;
    text-decoration: none; 
    font-weight: bold; 
    transition: color 10s; 
}

.bg-dark:hover a {
    color: #017bfe; 
}
